body{
    background-color: rgb(118, 230, 204);
    color : black;
}
p{
    background-color: rgb(51, 193, 26) ;
}
a{
    background-color: rgb(151, 84, 206);
}
div{
    background-color: rgb(230, 160, 30);
}
span{
    background-color: rgb(230, 30, 150);
}